body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: black;
    border-radius: 8px;
    border: 8px solid black;
}

.row {
    height: 100px;
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.displayRow {
    height: 150px;
    width: 400px;
    border-radius: 8px;
    border: 2px solid black;
    margin: 0 0 8px 0;
}

.display {
    font-size: 64px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    background-color: #eeeeee7d;
    height: 80px;
}

.displayCalculation {
    padding-bottom: 16px;
    background-color: #eeeeee7d;
    height: 20px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    font-size: 32px;
}

button {
    background-color: rgb(39, 10, 169);
    width: 90px;
    font-size: 32px;
    border-radius: 8px;
    border: none;
}

.operatorButton, .resultButton, .resetButton {
    background-color: rgb(255, 137, 3);
}

.zeroButton {
    width: 188px;
}

/* CSS Pseudo Classes */

button:hover {
    cursor: pointer;
    opacity: 0.8;
    
}

button:active {
    opacity: 0.6;
}